.App {
  display: flex;
  flex-direction: column;
  background-color: black;
}



.descriptionCounter {
  position: absolute;
  z-index: 5;
  left: 40px;
  top: 80px;
  font-size: 3.5rem;
  color: rgb(220,220,220);
}

.counter {
  position: absolute;
  padding: 5px 10px;
  border-radius: 10px 20px;
  top: 30px;
  left: 60px;
  width: 300px;
  height: 200px;
  color: white;
  background-color: rgb(0,0,0,0.6);
}
.slider-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  height: 60px;
  background-color: black;
}
.slider-counter {
  color: white;
  padding: 5px 25px;
  font-size: 2rem;
}

.horizontal-slider {
  width: 80vw;
  color: white;
  padding: 10px 0
}

.slider-thumb {
  width: 20px; 
  height: 20px;
  background-color: white;
  border-radius: 100%;
}
.horizontal-slider .slider-track {
  height: 5px;
  top: 18px
}

.slider-track.slider-track-0 {
  background-color: black;
}

.slider-track.slider-track-1 {
  background-color: white;
}

.button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 4vw;
  width: 80px;
  height: 80px;
  color: white;
  background-color: rgb(0,0,0,0.5);
  border-radius: 100%;
}

.button:hover {
  background-color: black;
}

.volume-button {
  bottom: 30vh;
}

.description-button {
  bottom: 15vh;
}