.App {
  display: flex;
  flex-direction: column;
  background-color: black;
}

::selection {
  background: orange;
  color: white
}

.descriptionCounter {
  position: relative;
  z-index: 5;
  left: 50px;
  top: 60px;
  font-size: 3.5rem;
  color: rgb(220,220,220);
}

.searchbar {
  position: relative;
  z-index: 5;
  left: 40px;
  top: 40px;
  display: flex;
  width: 400px;
  align-items: center;
  background-color: transparent;
}

input {
  color: gray;
  border: transparent;
  height: 40px;
  width: 150px;
  border-radius: 10px;
  padding: 2px 12px 2px 6px;
}

.searchButton {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  color: white;
  background-color: rgb(0,0,0,1);
  border-radius: 100%;
}

.button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 4vw;
  width: 80px;
  height: 80px;
  color: white;
  background-color: rgb(0,0,0,0.5);
  border-radius: 100%;
}

.button:hover {
  background-color: black;
}

.volume-button {
  bottom: 30vh;
}

.description-button {
  bottom: 15vh;
}

.zoom-button {
  bottom: 45vh;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.lost-button {
  top: 18vh;
}

.unsorted-button {
  top: 18vh;
  right: 12vw;
}

.dateTab {
  position: absolute;
  display: grid;
  grid-template-columns: 6% 30% 21% 7% 7% 7% 7% 7% 7%;
  height: 23px;
  width: 100%;
  color: white;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1
}